
mat-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}
mat-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--mat-sys-primary);
}
mat-card-content {
  margin-top: 10px;
  flex: 1;
}

mat-card-actions {
  margin-top: auto;
}

.prices{
  display: flex;
  gap: 10px;
}

.onSalePrice {
  font-weight: bold;
}

.onSale{
  padding: 8px;
  color: #fff;
  background-color:  var(--mat-sys-primary);
  font-weight: bold;
  border-radius: 999px;
}